<div class="order">
   <p class="name">{{name}}</p>
   <p class="order">{{order}}</p>
   <p><span>Day for delivery:</span> {{dayForDelivery}}</p>
   <p><span>Time for delivery:</span> {{timeForDelivery}}</p>
   <a class="btn" href="/orders/details/{{_id}}">Details</a>
   <a class="btn" href="/orders/details/{{_id}}">BindIt</a>
</div>
