{{!-- <div class="order">
   <p class="name">{{name}}</p>
   <p class="order">{{order}}</p>
   <p><span>Day for delivery:</span> {{dayForDelivery}}</p>
   <p><span>Time for delivery:</span> {{timeForDelivery}}</p>
   <a class="btn" href="/orders/details/{{_id}}">Details</a>
   <a class="btn" href="/orders/details/{{_id}}">BindIt</a>
</div> --}}

{{!-- 


 <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-2.jpg" alt="" style="width: 80px; height: 80px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">Marketing Manager</h5>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                            <a class="btn btn-primary" href="">Apply Now</a>
                                        </div>
                                        <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                                    </div>
                                </div>
                            </div> --}}

<section class="job-section-four layout-pt-120 layout-pb-120 section-bg-color">
      <div class="section-bg-color__item"></div>

      <div class="auto-container">
        <div class="row justify-content-between align-items-end">
          <div class="col-lg-6">
            <div class="">
              <h2 class="fw-700">Featured Jobs</h2>
              <div class="text mt-9">Know your worth and find the job that qualify your life</div>
            </div>
          </div>

          <div class="col-auto">
            <a href="#" class="button-icon -arrow">
              Featured
              <span class="fa fa-angle-right"></span>
            </a>
          </div>
        </div>

        <div class="row mt-50 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">

          <!-- Job Block -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="job-block -type-2">
              <div class="inner-box">
                <div class="inner-header">
                  <div class="icon-wrap">
                    <div class="icon flaticon-money-1"></div>
                  </div>
                  <div class="title">Development</div>
                </div>

                <div class="inner-content">
                  <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                  <ul class="job-other-info">
                    <li class="privacy">
                      <span class="icon fa fa-map-marker-alt"></span>
                      London, UK
                    </li>
                    <li class="time">Full Time</li>
                  </ul>
                </div>

                <div class="inner-footer">
                  <div class="content">
                    <div class="days">3 days ago</div>
                    <div class="company-name">Catalyst</div>
                  </div>
                  <span class="company-logo"><img src="images/p1.jpg" alt="" width="60%"></span>
                </div>
              </div>
            </div>
          </div>

          <!-- Job Block -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="job-block -type-2">
              <div class="inner-box">
                <div class="inner-header">
                  <div class="icon-wrap">
                    <div class="icon flaticon-promotion"></div>
                  </div>
                  <div class="title">Development</div>
                </div>

                <div class="inner-content">
                  <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                  <ul class="job-other-info">
                    <li class="privacy">
                      <span class="icon fa fa-map-marker-alt"></span>
                      London, UK
                    </li>
                    <li class="time">Full Time</li>
                  </ul>
                </div>

                <div class="inner-footer">
                  <div class="content">
                    <div class="days">3 days ago</div>
                    <div class="company-name">Catalyst</div>
                  </div>
                  <span class="company-logo"><img src="images/resource/company-logo/3-2.png" alt=""></span>
                </div>
              </div>
            </div>
          </div>

          <!-- Job Block -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="job-block -type-2">
              <div class="inner-box">
                <div class="inner-header">
                  <div class="icon-wrap">
                    <div class="icon flaticon-vector"></div>
                  </div>
                  <div class="title">Development</div>
                </div>

                <div class="inner-content">
                  <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                  <ul class="job-other-info">
                    <li class="privacy">
                      <span class="icon fa fa-map-marker-alt"></span>
                      London, UK
                    </li>
                    <li class="time">Full Time</li>
                  </ul>
                </div>

                <div class="inner-footer">
                  <div class="content">
                    <div class="days">3 days ago</div>
                    <div class="company-name">Catalyst</div>
                  </div>
                  <span class="company-logo"><img src="images/resource/company-logo/3-3.png" alt=""></span>
                </div>
              </div>
            </div>
          </div>

          <!-- Job Block -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="job-block -type-2">
              <div class="inner-box">
                <div class="inner-header">
                  <div class="icon-wrap">
                    <div class="icon flaticon-web-programming"></div>
                  </div>
                  <div class="title">Development</div>
                </div>

                <div class="inner-content">
                  <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                  <ul class="job-other-info">
                    <li class="privacy">
                      <span class="icon fa fa-map-marker-alt"></span>
                      London, UK
                    </li>
                    <li class="time">Full Time</li>
                  </ul>
                </div>

                <div class="inner-footer">
                  <div class="content">
                    <div class="days">3 days ago</div>
                    <div class="company-name">Catalyst</div>
                  </div>
                  <span class="company-logo"><img src="images/resource/company-logo/3-4.png" alt=""></span>
                </div>
              </div>
            </div>
          </div>

          <!-- Job Block -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="job-block -type-2">
              <div class="inner-box">
                <div class="inner-header">
                  <div class="icon-wrap">
                    <div class="icon flaticon-headhunting"></div>
                  </div>
                  <div class="title">Development</div>
                </div>

                <div class="inner-content">
                  <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                  <ul class="job-other-info">
                    <li class="privacy">
                      <span class="icon fa fa-map-marker-alt"></span>
                      London, UK
                    </li>
                    <li class="time">Full Time</li>
                  </ul>
                </div>

                <div class="inner-footer">
                  <div class="content">
                    <div class="days">3 days ago</div>
                    <div class="company-name">Catalyst</div>
                  </div>
                  <span class="company-logo"><img src="images/resource/company-logo/3-5.png" alt=""></span>
                </div>
              </div>
            </div>
          </div>

          <!-- Job Block -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="job-block -type-2">
              <div class="inner-box">
                <div class="inner-header">
                  <div class="icon-wrap">
                    <div class="icon flaticon-rocket-ship"></div>
                  </div>
                  <div class="title">Development</div>
                </div>

                <div class="inner-content">
                  <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                  <ul class="job-other-info">
                    <li class="privacy">
                      <span class="icon fa fa-map-marker-alt"></span>
                      London, UK
                    </li>
                    <li class="time">Full Time</li>
                  </ul>
                </div>

                <div class="inner-footer">
                  <div class="content">
                    <div class="days">3 days ago</div>
                    <div class="company-name">Catalyst</div>
                  </div>
                  <span class="company-logo"><img src="images/resource/company-logo/3-6.png" alt=""></span>
                </div>
              </div>
            </div>
          </div>

          <!-- Job Block -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="job-block -type-2">
              <div class="inner-box">
                <div class="inner-header">
                  <div class="icon-wrap">
                    <div class="icon flaticon-support-1"></div>
                  </div>
                  <div class="title">Development</div>
                </div>

                <div class="inner-content">
                  <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                  <ul class="job-other-info">
                    <li class="privacy">
                      <span class="icon fa fa-map-marker-alt"></span>
                      London, UK
                    </li>
                    <li class="time">Full Time</li>
                  </ul>
                </div>

                <div class="inner-footer">
                  <div class="content">
                    <div class="days">3 days ago</div>
                    <div class="company-name">Catalyst</div>
                  </div>
                  <span class="company-logo"><img src="images/resource/company-logo/3-7.png" alt=""></span>
                </div>
              </div>
            </div>
          </div>

          <!-- Job Block -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="job-block -type-2">
              <div class="inner-box">
                <div class="inner-header">
                  <div class="icon-wrap">
                    <div class="icon flaticon-first-aid-kit-1"></div>
                  </div>
                  <div class="title">Development</div>
                </div>

                <div class="inner-content">
                  <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                  <ul class="job-other-info">
                    <li class="privacy">
                     <img src="images/loc.png" alt="">
                      London, UK
                    </li>
                    <li class="time">Full Time</li>
                  </ul>
                </div>

                <div class="inner-footer">
                  <div class="content">
                    <div class="days">3 days ago</div>
                    <div class="company-name">Catalyst</div>
                  </div>
                  <span class="company-logo"><img src="images/resource/company-logo/3-8.png" alt=""></span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>